# Thư viện chính cho Streamlit
streamlit

# Thư viện xử lý dữ liệu chính
pandas

# Thư viện cho chức năng AI (sử dụng Gemini API)
google-genai

# Thư viện cần thiết để pandas đọc và ghi file Excel (.xlsx)
openpyxl

# Thư viện xử lý bảng để giải quyết lỗi to_markdown()
tabulate

# Thư viện đọc và xử lý file Word (.docx)
python-docx

# Thư viện hiển thị hình ảnh hoặc logo (nếu có)
Pillow

# Thư viện hiển thị biểu đồ và trực quan hóa dữ liệu
altair
